.section-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1-inicio{
    margin: 150px;
    text-align: center;
    align-items: center;
    background-color: rgba(127, 255, 191, 0.726);
    display: flex;
    font-family: 'Cookie', cursive;
    font-size: 200px;
}
.main-inicio{
    height: 100vh;
}